/* Null style */

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style-type: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
  }


  /* Main ---------------------------------- */

body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #333333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.bg-image {
  background-image: url('../images/red-mouse-computer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 30px;
}

/* Header ----------------------------------------------------- */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 80px;
  padding: 10px;
  gap: 20px;
}

.header__icons, .header__menu, .header__menu-grey {
  margin: 15px 10px;
}

.header__icons a, .header__menu a {
  margin-right: 15px;
  color: #f2d8d8;
}

.header__icons a:last-child, .header__menu a:last-child {
  margin-right: 0;
}


@media (hover: hover) {
.header__icons a img {
  transition: transform 0.3s ease; 
}

.header__icons a img:hover {
  transform: scale(1.1); 
}

.header__menu a {
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu a:hover {
  border: 2px solid #f2d8d8;
}

}

@media (hover: none) {
  .header__icons a img {
    transition: transform 0.3s ease; 
  }
  
  .header__icons a img:active {
    transform: scale(1.1); 
  }
  
  .header__menu a {
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .header__menu a:active {
    border: 2px solid #f2d8d8;
  }
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Burger ----------------------------------------------------------------------------*/

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header__row,
  .menu-list {
    column-gap: 15px;
  }
  
  .icon-menu, .icon-menu-dark {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    background-color: transparent;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f2d8d8;
    transition: all 0.3s ease 0s;
  }


  .icon-menu-dark span,
  .icon-menu-dark::before,
  .icon-menu-dark::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333333;
    transition: all 0.3s ease 0s;
  }

  .icon-menu::before, .icon-menu-dark::before {
    top: 0;
  }
  .icon-menu::after, .icon-menu-dark::after {
    bottom: 0;
  }
  .icon-menu span, .icon-menu-dark span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span, .menu-open .icon-menu-dark span {
    width: 0; 
  }

  .menu-open .icon-menu::before, .menu-open .icon-menu-dark::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
    background-color: #f2d8d8;
  }
  .menu-open .icon-menu::after, .menu-open .icon-menu-dark::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
    background-color: #f2d8d8;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }

  .menu-open .header__menu-grey a {
    color: #f2d8d8;
  }

  .menu-open .header__menu a:hover, .menu-open .header__menu-grey a:hover {
border: none;
  }
 
  .menu-list {
    flex-direction: column;
    justify-content: center;
    text-align: center;  
  }

  .menu__link {
    font-size: 32px;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .header__row {
    min-height: 70px;
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}


/* Section-1 ------------------------------------------------------- */

.main {
  flex: 1 1 auto;
}

.section-1 {
  margin-top: 50px; 
  min-height: 100vh;
}

.section__greeting {
  padding: 200px 40px;
}

.section__greeting p {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 44px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #bb2200;
}

@media( max-width: 280px) {
  .section__greeting {
    padding: 100px 20px;
  }
  
  .section__greeting p {
      font-size: 2.2rem;
  }
}

/* Section-2 ------------------------------------------------------ */
.section-2 {
  min-height: 500px;
  background-color: #f2d8d8; 
}

.section-2__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2__title {
  padding: 50px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

@media (max-width: 698px) {
  .section-2__title {
    padding: 40px 0 20px 0;
  }
}

.section-2__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.section-2__title p {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 44px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media( max-width: 280px) {
  .section-2__title p {
    font-size: 2.2rem;
  }
}

.section-2__sites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
}

@media (max-width: 698px) {
  .section-2__sites {
    flex-direction: column;
    gap: 10px;
  }
}

.section-2__sites-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  gap: 20px;
  }

  @media (max-width: 698px) {
    .section-2__sites-site  {
      margin: 20px auto;
      gap: 10px;
    }
  }

.site-image {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 150px;
  text-align: center;
  border-radius: 5% / 8%;
}

.site-image img {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

@media (hover: hover) {

  .site-image:hover img {
    transform: scale(1.1); 
  }

  .site-image::before {
    content: 'Open project';
    color: #fff;
    padding: 65px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  .site-image:hover::before {
    opacity: 1;
  }

  .site-capture {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 44px;
    color: #333333;
    text-decoration: none;
    transition: font-size, 0.4s ease;
  }

  .smooth-underline {
    position: relative;
    text-decoration: none; 
    color: #333; 

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px; 
      bottom: 0;
      left: 0;
      background-color: #333; 
      transform-origin: bottom center;
      transform: scaleX(0); 
      transition: transform 0.4s ease; 
    }

    
    &:hover::after {
      transform-origin: bottom center;
      transform: scaleX(1); 
    }
  }
}

/* ------------------------------------------------------------------------- */

@media (hover: none) {

  .site-image:active img {
    transform: scale(1.1); 
  }

  .site-image::before {
    content: 'Open project';
    color: #fff;
    padding: 65px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  .site-image:active::before {
    opacity: 1;
  }

  .site-capture {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 44px;
    color: #333333;
    text-decoration: none;
    transition: font-size, 0.4s ease;
  }

  .smooth-underline {
    position: relative;
    text-decoration: none; 
    color: #333; 

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px; 
      bottom: 0;
      left: 0;
      background-color: #333; 
      transform-origin: bottom center;
      transform: scaleX(0); 
      transition: transform 0.4s ease; 
    }

    
    &:active::after {
      transform-origin: bottom center;
      transform: scaleX(1); 
    }
  }
}

/* Section-3 ------------------------------------------------------------ */

.section-3 {
  min-height: 500px;
  background-color: #d96248;
}

.section-3__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}

@media (max-width: 879px) {
  .section-3__row {
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }
}

.section-3__row-sites, .section-3__row-technologies, .section-3__row-picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-3__row-sites p, .section-3__row-technologies p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 44px;
  color: #f2d8d8;
  padding-bottom: 20px;
}

.section-3__row-sites ul li, .section-3__row-technologies ul li {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 44px;
  padding-left: 5px;
}

.section-3__row-sites ul li {
  transform: translate(-120%, 0px);
  transition: all 0.8s ease 0s;
}

.section-3__row-technologies ul li {
  transform: translate(120%, 0px);
  transition: all 0.8s ease 0s;
}
  
.section-3__row-sites._active ul li {
  transform: translate(0px, 0px);
}

.section-3__row-technologies._active ul li {
  transform: translate(0px, 0px);
}

.section-3__row-sites ul li::before {
  content: url('../images/8541612_check_tick_mark_icon.png');
  color: #333333;
  padding: 13px;
}

.section-3__row-technologies ul li::before {
  content: url('../images/dot_icon.png');
  color: #333333;
  padding: 13px;
}

.section-3__row-picture {
  display: block;
  padding: 30px 0;
}

.section-3__row-guarantee {
  margin: 120px 0 0 0;
}

@media (max-width: 879px) {
  .section-3__row-guarantee {
    margin: 30px 0 0 0;
  }
}

.section-3__row-guarantee p {
  font-style: italic;
  font-size: 1.5rem;
}

@media (max-width: 879px) {
  .section-3__row-guarantee p {
    padding: 0;
  }
}

/* Section-4 ------------------------------------------------------------ */

.section-4 {
  min-height: 600px;
  background-color: #f2d8d8; 
}

.section-4__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}

@media (max-width: 879px) {
  .section-4__row {
    flex-direction: column;
    align-items: center; 
  }
}

.section-4__row_email {
  width: 50%;
}

@media (max-width: 879px) {
  .section-4__row_email {
    width: 80%;
  }
}

@media (max-width: 549px) {
  .section-4__row_email {
    width: 100%;
  }
}

.section-4_contact-title {
  display: flex;
  margin: 50px;
}

@media (max-width: 879px) {
  .section-4_contact-title {
    justify-content: center;
  }
}

.section-4_contact-title p {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 44px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767.98px) {
  .section-4_contact-title p {
    font-size: 3.2rem;
  }
}

@media( max-width: 280px) {
  .section-4_contact-title p {
    font-size: 3rem;
  }
}

.section-4__row_contact-section p, .email_contact-title p {
  font-size: 1.5rem;
  font-weight: 400;
}

.section-4__row_contact-section {
  display: flex;
  flex-direction: column;
}

.contact-section_contact-links {
  margin: 70px 0;
}

@media (max-width: 767.98px) {
  .contact-section_contact-links {
    margin: 50px 0;
  }
}

.contact-links {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
@media (hover: hover) {

.contact-links img {
  transition: transform 0.3s ease; 
}

.contact-links img:hover {
  transform: scale(1.1);
}
}

@media (hover: none) {

  .contact-links img {
    transition: transform 0.3s ease; 
  }
  
  .contact-links img:active {
    transform: scale(1.1);
  }
  }

.contact-links p {
  padding-top: 7px;
  font-size: 1.2rem;
  font-weight: 900;
  color: #333; 
}

.contact-links__block {
  display: flex;
  gap: 30px;
}

.email_contact-title {
  margin-bottom: 20px;
}

.email_contact-email {
  display: flex;
  flex-direction: column;
  background-color: #f2a488;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 0;
}

@media (max-width: 479.98px) {
  .container {
    padding: 0px 10px;
  }
}

input, textarea {
  display: flex;
  background-color: #f2d8d8;
  padding: 10px;
  border: 2px solid #333333;
  border-top: none;
  border-left: none;
  border-right: none;
}

input {
  height: 60px;
  margin-bottom: 20px;
}

textarea {
  min-height: 200px;
  resize: none;
}

.submit_button {
  width: 90px;
  height: 45px;
  background-color: #5d91a6;
  color: #f2d8d8;
  font-size: 16px;
  font-weight: 600;
  margin: 40px auto;
  outline: 2px solid transparent;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.submit_button:hover {
  outline: 2px solid #5d91a6;
  font-size: 17px;
}

/* About --------------------------------------------------------- */

.pages {
   background-color: #f2d8d8;
}

.header__icons a, .header__menu-grey a {
  /* margin-right: 15px; */
  color: #333333;
}

.header__menu-grey a {
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu-grey a:hover {
  border: 2px solid #333333;
} 

.section_about {
  min-height: 100vh;
}

.section_about__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 50px auto;
}

.section_about__info {
  padding: 80px 100px 40px;
}

@media (max-width: 698px) {
  .section_about__info {
    padding: 60px 40px 30px;
  }
}

.section_about__info p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 36px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 479.98px) {
  .section_about__info {
    padding: 40px 20px 20px;
  }

  .section_about__info p {
    font-size: 1.1rem;
  }

  .header__icons a {
    margin-right: 5px;
  }

  .header__row {
    padding: 5px;
    gap: 7px;
  }
}

.section_about__info p:last-child {
  padding-bottom: 0;
}

.section_about__info p:last-child {
  background: url("../images/heart_icon.png") 450px 79px no-repeat;
}

.section_about__info span {
  font-weight: 900;
}

.section_about__photo img {
  display: block;
  width: 500px;
  margin: 0 auto;
}

/* Contacts --------------------------------------------------------- */

.section_contact {
  display: flex;
  margin: 150px 0 50px;
}

.section_contact__row {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.section_contact__row-info p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 44px;
  padding-bottom: 20px;
  /* background: url("../images/success_agreement_people_icon.png") 410px 37px no-repeat; */
}

.section_contact__row-info {
  margin-bottom: 50px;
}

.section_contact__row-media p, .section_contact__row-mail p, .section_contact__row-message p {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.contact-links {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.section_contact__row-mail {
  width: 100%;
}

/* Footer------------------------------------------------------------------ */

.footer {
  background-color: #5d91a6;
  }
  
  .footer__row {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer__row_icons {
    margin-bottom: 15px;
  }
  
  .footer__row_icons a {
    padding: 0 6px;
  }
  
  @media (hover: hover) {

  .footer__row_icons img {
    transition: transform 0.3s ease; 
  }
  
  .footer__row_icons img:hover {
    transform: scale(1.1);
  }
}

@media (hover: none) {

  .footer__row_icons img {
    transition: transform 0.3s ease; 
  }
  
  .footer__row_icons img:active {
    transform: scale(1.1);
  }
}
  .footer__row_text {
    color: #f2d8d8;
  }